<div class="w-2/5 h-48 flex border-solid border-4 border-gray-200 relative overflow-hidden">
    <img src="assets/img/pic1.jpg" class="z-0 absolute" />
    <div class="bg-red-300 h-full w-full z-10 absolute left-52" id="workStagesContent">
        <h1>Hello</h1>
    </div>
</div>