---
text: 
---

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width:device-width, initial-scale=1.0" />
        <title>Oquad first site</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
<body class="min-h-screen flex flex-col">

{% include './partials/header/header' %}


{% include './partials/cards/workStagesCard' %}

{% include './partials/footer/footer' %}


</body>
</html>